:root {
  --white: #ffffff;
  --black: #000000;
  --yellow: #fff804;
  --grey: #81836c;
  --pink: #e280ff;
}

*,
html {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  color: var(--black);
  font-family: "Open Sans", sans-serif;

  a {
    text-decoration: none;
  }

  header {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    text-transform: uppercase;
    font-weight: 600;

    img {
      width: 50px;
      height: 50px;
    }

    nav ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;
    }

    div ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 15px;

      li:last-child a {
        background-color: var(--black);
        padding: 15px 35px;
        border-radius: 30px;
        color: var(--white);
      }
    }
  }

  #hero-banner {
    widdth: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--white);
    position: relative;

    img {
      width: 250px;
      height: 250px;
    }

    #hero-banner-up {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      #hero-banner-text {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 20px;
        padding-left: 20px;

        span {
          text-transform: uppercase;
          border: 2px solid var(--black);
          padding: 5px;
        }

        h1 {
          font-size: 4rem;
          font-weight: 700;
        }
      }

      img {
        width: 500px;
        height: 850px;
        rotate: 15deg;
        z-index: -1;
      }
    }

    #hero-banner-down {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      img:first-of-type {
        width: 500px;
        height: 850px;
        rotate: -15deg;
      }
    }
  }

  aside {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    padding: 10vh 0;
    font-weight: 500;
  }

  #infos-cta {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    div {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 5vh;
      padding: 10vh 5vw;
      border: 1px solid var(--black);

      &:first-child {
        background-color: var(--yellow);
      }

      &:last-child {
        background-color: var(--grey);
      }

      span {
        text-transform: uppercase;
        font-size: 1.25rem;
        font-weight: 600;
        border: 2px solid var(--black);
        padding: 10px;
        background-color: var(--white);
      }

      h2 {
        font-size: 2.5rem;
        font-weight: 700;
      }

      p {
        font-size: 1.3rem;
        font-weight: 500;
        text-align: center;
      }

      img {
        width: 350px;
        height: 350px;
      }

      button {
        padding: 15px 95px;
        border-radius: 30px;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 1.25rem;
        background-color: var(--black);

        a {
          color: var(--white);
        }
      }
    }
  }

  #start-project {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--black);
    padding: 7.5vh 0;

    p {
      color: var(--white);
      font-size: 1.25rem;
    }

    a {
      color: var(--white);
      text-decoration: underline;
      text-transform: uppercase;
      font-weight: 500;
    }
  }

  #artists-carousel {
    width: 100vw;
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding: 7.5vh 2.5vw;

    ul {
      display: flex;
      flex-direction: row;
      gap: 10vw;

      li a {
        text-transform: uppercase;
        font-size: 1.25rem;
        font-weight: 600;

        span {
          text-decoration: underline;
        }
      }
    }
  }

  #artists-section {
    border-top: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    #artists-section-left {
      width: 50%;
      height: 100%;
      background-color: var(--yellow);
      doisplay: flex;
      flex-direction: column;
      justify-content: start;
      gap: 5vh;
      border: 2px solid var(--black);

      span {
        text-transform: uppercase;
        font-size: 1.25rem;
        font-weight: 600;
        border: 2px solid var(--black);
        padding: 10px;
        background-color: var(--white);
      }

      p {
        font-size: 1.5rem;
        font-weight: 500;
        padding: 5vh 20px;
        color: var(--black);
      }

      #artists-section-pagination {
        display: flex;
        flex-direction: row;
        justify-content: start;
        gap: 10px;
        padding: 5vh 0 2vh 1vw;

        button {
          padding: 15px 20px;
          border-radius: 50%;
          background-color: var(--yellow);
          border: 2px solid var(--black);

          &:first-of-type {
            background-color: var(--black);
            color: var(--white);
          }
        }
      }
    }

    #artists-section-right {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        width: 100%;
      }
    }
  }

  #community {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
    font-size: 1.5rem;
    padding: 7.5vh 0;
    gap: 5vh;

    span {
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 600;
      border: 2px solid var(--black);
      padding: 10px;
      background-color: var(--white);
    }

    h2 {
      font-size: 3rem;
      font-weight: 600;
    }

    p {
      font-size: 1.5rem;
      font-weight: 500;
      text-align: center;
      max-width: 40%;
    }

    button {
      padding: 15px 95px;
      border-radius: 30px;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 1.25rem;
      border: 2px solid var(--black);
      background-color: var(--white);
    }
  }

  #section-try {
    width: 100vw;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10vh 5vw;
    gap: 3vh;
    position: relative;

    span {
      text-transform: uppercase;
      font-size: 0.75rem;
      font-weight: 600;
      border: 2px solid var(--white);
      color: var(--white);
      padding: 10px;
    }

    h2 {
      color: var(--white);
      font-size: 3rem;
      margin-bottom: 2.5vh;
    }

    p {
      color: var(--white);
      font-size: 1.25rem;
      max-width: 40%;
      text-align: center;
    }

    img {
      width: 300px;
      height: 300px;
    }

    #money-image img {
      width: 100px;
      height: 100px;
      position: absolute;
      rotate: 45deg;
      top: 35%;
      right: 25%;
    }

    button {
      padding: 15px 100px;
      border-radius: 30px;
      margin-top: 5vh;
      text-transform: uppercase;
      font-weight: 500;
      font-size: 1rem;
      background-color: var(--yellow);

      a {
        color: var(--black);
      }
    }
  }

  footer {
    width: 100vw;
    background-color: var(--black);
    color: var(--white);

    #footer-links {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: start;
      gap: 15vw;
      padding: 2.5vh 7.5vw;

      p {
        color: var(--white);
        font-size: 1.5rem;
        font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 15px;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 10px;

        li {
          color: var(--white);
        }
      }
    }

    #footer-down {
      margin-top: 10vh;
      width: 100vw;
      display: flex;
      flex-direction: row;
      padding: 5vh 5vw;
      justify-content: space-start;

      a#logo {
        width: 50%;

        img {
          width: 350px;
          height: 200px;
        }
      }

      div {
        width: 50%;

        ul:first-child {
          display: flex;
          flex-direction: row;
          justify-content: end;
          gap: 15px;

          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }
        }

        ul:last-child {
          display: flex;
          flex-direction: row;
          justify-content: end;
          gap: 15px;
          margin-top: 2.5vh;

          li {
            color: var(--white);
            font-size: 1rem;
            font-weight: 500;

            &:last-child {
              margin-left: 1vw;
            }
          }
        }
      }
    }
  }
}
